<ion-header>
    <ion-item>
        <ion-buttons slot="start">
            <ion-icon (click)="goBack()" name="arrow-back">
            </ion-icon>
        </ion-buttons>
      <ion-title  slot="end">DETALLE DEL AVE</ion-title>
    </ion-item>
  </ion-header>

<ion-content>
    <form  (ngSubmit)="postAvist()" padding-right #registerForm="ngForm">

        <ion-item >
            <ion-input type="text" placeholder="Lugar de Avistamiento" name="lugar" [(ngModel)]="avist.place" required></ion-input>
        </ion-item>

        <ion-button 
            expand="block" 
            [disabled]="!registerForm.valid"
            (click)="postAvist()">Guardar Avistamiento
        </ion-button>
    </form>
</ion-content>
