
<ion-card-header>
  <ion-card-title>  {{selectedAvistar.place}}  </ion-card-title>
</ion-card-header>

<ion-card-content>

  <ion-row> <ion-title>Longitud: </ion-title>({{selectedAvistar.long}}) </ion-row>
  <ion-row> <ion-title>Latitud: </ion-title>({{selectedAvistar.lat}}) </ion-row>

</ion-card-content>
    