.añadir-col {
    margin: 10px 16px 10px 16px;
    padding-bottom: 20px;
}

.añadir-but {
    background: var(--ion-color-verde1);
    border-radius: 30px !important;
    border: 1px solid #ffffff;
    width:100%;
    height:40px;
}



ion-card-title {
    margin-top:35px;
    align-items: center;
    text-align: center;
    --color:var(--ion-color-medium-shade);
}

.img {
    max-width:350px;
    margin:auto;
}