<ion-header>
  <ion-item>
      <ion-buttons slot="start">
          <ion-icon (click)="goBack()" name="arrow-back">
          </ion-icon>
      </ion-buttons>
    <ion-title  slot="end" >DETALLE DEL AVE</ion-title>
  </ion-item>
</ion-header>


<ion-content>
  <ion-list *ngIf="answer">

    <ion-grid style="height: 100%">

    <ion-card >

    <ion-card-header>


          <ion-img [src]="getImage()" class="img"></ion-img>

      
        
  
          <ion-card-title>  
              Nombre: {{answer.bird_name}}
          </ion-card-title>

    </ion-card-header>

      <ion-card-content>
        <ion-row >
          <ion-item >   
            Avistamientos: {{answer.bird_sightings}}
          </ion-item>
        </ion-row>
          
        <ion-row >
          <ion-item>   
            {{answer.bird_description}}
          </ion-item>
        </ion-row>
            
        <ion-row >
            <ion-col class="añadir-col">
            <ion-button class="añadir-but" expand="block" (click)="addClick()">
                AÑADIR AVISTAMIENTO
              </ion-button>
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    </ion-grid>
    
    <ion-card *ngIf="answer.bird_sightings > 0">
        <ion-card-header>
            <ion-card-title>AVISTAMIENTOS REGISTRADOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card text-wrap *ngFor="let vista of answer.sightings_list" >      
            <!--
            <ion-row>{{vista.place}}</ion-row>
            -->
            
            <app-item-avistar [selectedAvistar]='vista'></app-item-avistar>

          </ion-card>
        </ion-card-content>
    </ion-card>
        
  </ion-list>
</ion-content>
