ion-content {
    --background: var(--ion-color-verde4);
}

.logo-row {
padding-top: 50px;
padding-bottom: 20px;
background: var(--ion-color-verde4);
}

.login-box {
background: var(--ion-color-verde4-shade); 
padding: 20px 20px 0px 20px;
margin-top: 30px;
}


ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.register-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
}


.submit-btn {
    background: var(--ion-color-verde1);
    border-radius: 30px !important;
    border: 1px solid #ffffff;
    width:150px;
    height:40px;
}


 
