// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

    /* color personal*/
    --ion-color-personal: lightgrey;
    --ion-color-personal-rgb: 240,176,0;
    --ion-color-personal-contrast: #000000;
    --ion-color-personal-contrast-rgb: 0,0,0;
    --ion-color-personal-shade: darkgrey;
    --ion-color-personal-tint: violet;

       /* color personal verde-1*/
       --ion-color-verde1: #51cfb1;
       --ion-color-verde1-rgb: 81, 207, 177;
       --ion-color-verde1-contrast: rgb(174,48, 78);
       --ion-color-verde1-contrast-rgb: 174,48,78;
       --ion-color-verde1-shade: #3fa58d;
       --ion-color-verde1-tint: #63eccc;

       /* color personal verde-2*/
       --ion-color-verde2: rgb(100, 207, 154);
       --ion-color-verde2-rgb: 100, 207, 154;
       --ion-color-verde2-contrast: rgb(155,48, 101);
       --ion-color-verde2-contrast-rgb: 155,48,101;
       --ion-color-verde2-shade: rgb(78, 163, 121);
       --ion-color-verde2-tint: rgb(117, 241, 179);

       /* color verde -3 */
       --ion-color-verde3: rgb(43, 148, 127);
       --ion-color-verde3-rgb: 43, 148, 127;
       --ion-color-verde3-contrast: rgb(212,107, 128);
       --ion-color-verde3-contrast-rgb: 212,107,128;
       --ion-color-verde3-shade: rgb(34, 116, 99);
       --ion-color-verde3-tint: rgb(58, 204, 175);

         /* color verde -4 */
         --ion-color-verde4: #399F8B;
         --ion-color-verde4-rgb: 57,159,139;
         --ion-color-verde4-contrast: rgb(198,96, 116);
         --ion-color-verde4-contrast-rgb: 198,96,116;
         --ion-color-verde4-shade: rgb(43, 148, 127);
         --ion-color-verde4-tint: rgb(73, 196, 171);

       /* color personal violeta*/
       --ion-color-violeta: rgb(170, 78, 206);
       --ion-color-violeta-rgb: 170, 78, 206;
       --ion-color-violeta-contrast: rgb(85,172, 49);
       --ion-color-violeta-contrast-rgb: 85, 172, 49;
       --ion-color-violeta-shade: rgb(87, 60, 163);
       --ion-color-violeta-tint: rgb(194, 91, 235);

        /* color personal azul*/
        --ion-color-azul: rgb(54, 101, 202);
        --ion-color-azul-rgb: 54,101,202;
        --ion-color-azul-contrast: rgb(201,154, 53);
        --ion-color-azul-contrast-rgb: 201, 154, 53;
        --ion-color-azul-shade: rgb(39, 71, 139);
        --ion-color-azul-tint: rgb(71, 175, 245);
}
