ion-img {
    object-fit: resize;
    height: 60px;
    width: auto;
    border: 0;
    padding: 0;
    background-color: white;
    margin-top:-5px;
    margin-left: -20px;
}

.mine  {
    --ion-background-color:var(--ion-color-verde4-contrast);
    color: white;
}


.Notmine {
    --ion-background-color:var(--ion-color-verde4);
    color: white;
}

ion-card-title {
    margin-top:20px;
    align-items: center;
    text-align: left;
    margin-left:20px;
    --color:var(--ion-color-medium-shade);
    font-size:22px;
}

