<!--
<ion-row  class="detail" (click)='goDetail()'>
<ion-item>
  <ion-img [src]="getImage()"></ion-img>
  
 </ion-item >
<ion-item>   {{selectedBird.bird_name}} , </ion-item>
<ion-item >{{selectedBird.bird_sightings}}</ion-item>
<ion-item [ngClass]= "{'mine': (selectedBird.mine === 1), 'Notmine': (selectedBird.mine !== 1)}" >{{selectedBird.bird_sightings}}</ion-item>

</ion-row>
-->



<div class="detail" (click)='goDetail()'>
 
      <ion-card-content>
        <ion-row>
        <ion-col class ="col1">
  
            <ion-img [src]="getImage()"></ion-img>
        
          </ion-col>
        <ion-col > <ion-item> {{selectedBird.bird_name}} </ion-item></ion-col>
        <ion-col>
          <ion-item [ngClass]= "{'mine': (selectedBird.mine === 1), 'Notmine': (selectedBird.mine !== 1)}" >
            Avistamientos:  {{selectedBird.bird_sightings}}
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </div>
    