<ion-header>
    <ion-item>
      <ion-icon (click)="homeClick()" name = "home" slot="start">
      </ion-icon >
      <ion-title  slot="end">LISTA DE AVES</ion-title>
    </ion-item>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card text-wrap *ngFor="let bird of birds" width-100>      
      <app-item-list [selectedBird]='bird' class="itemlist"></app-item-list>
    </ion-card>
  </ion-list>
</ion-content>
