<ion-header>
    <ion-item>
        <ion-buttons slot="start">
            <ion-icon (click)="goBack()" name="arrow-back">
            </ion-icon>
        </ion-buttons>
      <ion-title  slot="end">LISTA DE AVES</ion-title>
    </ion-item>
</ion-header>

<ion-content>
        <form  (ngSubmit)="postAve()" padding-right #registerForm="ngForm">
            <ion-item>
               <!-- <ion-label position="floating">Nombre Ave:</ion-label>-->
                <ion-input type="text" placeholder="Nombre Ave" name="Name" [(ngModel)]="ave.nombre" required></ion-input>
            </ion-item>
            <ion-item>
                <!-- <ion-label position="floating">Descripción:</ion-label>-->
                <ion-textarea placeholder="Descripción" [(ngModel)]="ave.descripcion" name="descripción" minlength="20" required></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>¿ha sido avistado?</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="ave.esAvistado" name="esAvistado"></ion-checkbox>
            </ion-item>
            <ion-item *ngIf="ave.esAvistado">
                <ion-input type="text" placeholder="Lugar de Avistamiento" name="lugar" [(ngModel)]="ave.lugar"></ion-input>
            </ion-item>

            <ion-button 
                expand="block" 
                [disabled]="!registerForm.valid"
                (click)="postAve()">CREAR AVE
            </ion-button>
        </form>
</ion-content>
