<ion-header>
    <ion-item>
        <ion-icon name = "home" slot="start">
          
        </ion-icon>
        <ion-title slot="end"> {{this.userEmail}} </ion-title>
      </ion-item>
  <!--
  <ion-toolbar>
    <ion-tab-button tab="Home">
      <ion-icon name="home" slot="start"></ion-icon>
     <ion-label slot="start">Home</ion-label>
    </ion-tab-button>
    <ion-title  slot="end">HOME</ion-title>
  </ion-toolbar>

          <ion-item>
            <ion-item-option (click)="unread(item)">LISTADO DE AVES</ion-item-option>
        </ion-item>
  -->
</ion-header>

<ion-content>
 
    <ion-list>
        <ion-item class="boton1" (click)="listadoClick()" >
            <ion-label>
                LISTADO DE AVES
            </ion-label>
        </ion-item>
        <ion-item class="boton2" (click)="addClick()">
          <ion-label>AÑADIR AVE</ion-label>
        </ion-item>
        <ion-item  class="boton3">
          <ion-label>INFO</ion-label>
        </ion-item>
        <ion-item class="boton4" (click)="desconectarClick()">
          <ion-label>DESCONECTAR</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
