.boton2{
    --background:var(--ion-color-azul-shade);
    color: white;
}

.boton3{
    --background:var(--ion-color-azul);
    color: white;
}

.boton4{
    --background:var(--ion-color-azul-tint);
    color: white;
}

.boton1{
    --background:var(--ion-color-violeta-shade);
    color: white;
}
